.allNavbars {
  margin: 0px;
  padding: 0px;
  background-image: url(../../assets/images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.allFresh {
  align-items: center;
  text-align: center;
  padding-top: 220px;
}
.organic {
  color: orange;
}
.delicious {
  color: white;
  font-size: 50px;
  padding: 20px 0px 20px 0px;
}
.yanYanashi {
  display: flex;
  gap: 20px;
}
.btn1 {
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  background-color: orange;
  border: none;
}
.btn2 {
  padding: 10px 25px;
  border-radius: 20px;
  color: white;
  background-color: #5b5841;
  border: 2px solid orange;
}

@media (max-width: 1440px) {
  .allNavbars {
    height: 100vh;
  }
  .yanYanashi {
    margin-left: 500px;
  }
}

@media (max-width: 800px) {
  .allNavbars {
    height: 200vh;
  }
  .yanYanashi {
    margin-left: 250px;
  }
}

@media (max-width: 500px) {
  .allNavbars {
    height: 200vh;
  }
  .yanYanashi {
    margin-left: 100px;
  }
}
