.allDec {
  margin: 0px;
  padding: 0px;
  height: 80vh;
  background-image: url(../../assets/images/portagal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sale {
  padding: 20px 0px;
  color: black;
}

.now {
  padding: 15px 25px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 20px;
  margin: 20px 0px;
}
.faiz {
  font-size: 50px;
  color: orange;
}
.yanashi3 {
  display: flex;
  gap: 5px;
  align-items: center;
}
.off {
  font-size: 50px;
}

@media (max-width: 1440px) {
  .sale {
    font-size: 50px;
  }
  .upto {
    font-size: 30px;
  }
  .december {
    padding: 50px;
  }
}

@media (max-width: 800px) {
  .leftDec {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .sale {
    font-size: 20px;
  }
  .upto {
    font-size: 15px;
  }
  .december {
    padding: 50px;
  }
}

@media (max-width: 500px) {
  .leftDec {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .sale {
    font-size: 17px;
  }
  .upto {
    font-size: 15px;
  }
  .december {
    padding: 50px;
  }
}
